@import "components/basic.css";
@import "components/home.css";
@import "components/banner.css";
@import "components/new-product.css";
@import "components/icons.css";
@import "components/footer.css";
@import "components/products.css";