/* .circle{
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 50%;
    transition: background-color 2s linear 1s, border-radius 3s ease, margin-left 3s;
    margin-left: 0;
}

.circle:hover{
    background-color: blueviolet;
    border-radius: 0;
    cursor: pointer;
    margin-left: 500px;
}

a{
    font-size: 2em;
    text-decoration: none;
    display: block;
    margin-top: 150px;
    margin-left: 100px;
    transition: 2s;
} */
/* a:hover{
    letter-spacing: 10px;
} */



.circle {
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    left: 0;
    
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: circles 4s linear infinite alternate forwards;

}

.circle:hover{
    animation-play-state: paused;
}

@keyframes circles {
    0% {
        background-color: yellow;
        left: 0;
    }

    25% {
        background-color: blue;
    }

    50% {
        background-color: red;
    }

    75% {
        background-color: lime;
    }

    100% {
        background-color: magenta;
        left: 78%;
    }

}

.box{
    width: 600px;
    height: 600px;
    border:solid;
    margin: 0 auto;
    margin-top: 150px;
    position: relative;
    transform: rotate(45deg);
}
.box-2{
    width:100%;
    height: 50px;
    background-color: red;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    
}
.text{
    width: 300px;
    line-height: 50px;
    text-align: center;
    margin: 0;
    font-size: 24px;
    position: absolute;
    right: -160px;
    animation:run-line 5s infinite;
}

@keyframes run-line{
    from{
        right: -160px;
    }
    to{
        right: 800px;
    }
}
body{
    margin: 0;
    
}
header{
    height: 100px;
    width: 100%;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
}
ul{
    list-style-type: none;
    text-align: right;
    margin-right: 50px;
}
ul li{
    display: inline-block;
}
ul a{
    color: #fff;
    text-decoration: none;
}