.products div{
    width: 25%;
    background-color: aqua;
    height: 400px;
    float: left;
    
    margin-bottom: 15px;

    box-sizing: border-box;
    border: solid;
}
.products article{
    margin-bottom: 15px;
}
.products{
    border: solid;
    height: 1500px;
}