.wrapper
{
    width: 800px;
    border:solid;
    height: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center; /*space-evenly; space-around; center; space-between; flex-end; flex-start;*/
    align-items: flex-start;/* baseline; stretch ;  center;   flex-end;  flex-start; */
    flex-flow: column wrap;
    /*flex-direction: row; column-reverse;  row-reverse;  column; row; */
    /*flex-wrap: nowrap; wrap-reverse;wrap; nowrap;*/
    /* align-content:stretch;  space-evenly; space-around; space-between;  center; flex-end;  flex-start; */
}

div{
    width: 150px;
    height: 100px;
    flex-basis: 200px;
}


.red{
    background-color: red;
    /* height: 350px; */
    /* flex-grow: 1; */
    flex-shrink: 5;
    order:2;
}
.blue{
    background-color: blue;
    /* flex-grow: 3; */
    flex-shrink: 2;
    order: 1;
}
.pink{
    background-color: pink;
    /* flex-grow: 2; */
    flex-shrink: 1;
}
.gold{
    background-color: gold;
    /* flex-grow: 2; */
    flex-shrink: 0;
    order: -1;
}