.bg-about-block {
    background: var(--dark-color) url(../../img/bg-about.jpg) center top;
    background-size: cover;
    margin-top: 130px;
}

.about-block h3 {
    color: var(--light-color);
    grid-column-start: 2;
    text-align: left;
}

.about-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
}

.item-tabs {
    font-family: var(--font-bold);
    font-size: 16px;
    text-transform: uppercase;
    color: var(--light-color);
    cursor: pointer;
    display: flex;
    column-gap: 20px;
    
}

.item-tabs li:last-child {
    color: var(--main-color);
}

.value-tabs{
    margin-top: 64px;
    margin-bottom: 100px;
}

.value-tabs li {
    border: solid 1px #959595;
    border-radius: 4px;
    margin-bottom: 15px;
    position: relative;
    height: 39px;

}

.value-tabs span {
    background-color: #465409;
    position: absolute;
    height: 39px;
    top: -1px;
    left: -1px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 18px;
    font-size: 13px;
    font-family: var(--font-regular);
    text-transform: uppercase;
    color: var(--light-color);
}

.value-tabs li:nth-child(1) span {
    width: 72.12%;
    background-color: #9c5da5;
}

.value-tabs li:nth-child(2) span {
    width: 84.71%;
    background-color: #11b0de;
}
.value-tabs li:nth-child(3) span {
    width: 66.72%;
    background-color: #d67f7f;
}
.value-tabs li:nth-child(4) span {
    width: 90.1%;
    background-color: #20bc9d;
}
.value-tabs li:nth-child(5) span {
    width: 84.71%;
    background-color: #bb8a36;
}