*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

body{
    font-family: var(--font-light);
    font-size: 14px;
    line-height: 25px;
}
.container-fluid{
    width: 100%;
    padding: 0 15px;
}
.container{
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}