*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

body{
    font-family: var(--font-light);
    font-size: 14px;
    line-height: 25px;
}
.container-fluid{
    width: 100%;
    padding: 0 15px;
}
.container{
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.heading-block{
    margin: 100px 0;
    text-align: center;
    font-size: 36px;
    font-family: var(--font-regular);
    color:#4e4e4e;
}