.blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px 30px;
}

.blocks h5 {
    font-family: var(--font-bold);
    color: #717171;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.blocks h5:hover {
    color: var(--main-color);
    cursor: pointer;

}

.blocks p {
    font-size: 14px;
    color: #777777;
    line-height: 25px;
    font-family: var(--font-light);
    margin-top: 25px;
}

/*sprites*/

.blocks h5::before {
    content: "";
    display: block;
    background-image: url(../../img/sprites.png);
    margin-right: 20px;
}

.blocks article:nth-child(1) h5::before {
    width: 25px;
    height: 34px;
    background-position: -10px -327px;
}

.blocks article:nth-child(2) h5::before {
    width: 27px;
    height: 27px;
    background-position: -10px -182px;
}

.blocks article:nth-child(3) h5::before {
    width: 28px;
    height: 28px;
    background-position: -10px -229px;
}

.blocks article:nth-child(4) h5::before {
    width: 22px;
    height: 30px;
    background-position: -10px -277px;
}

.blocks article:nth-child(5) h5::before {
    width: 34px;
    height: 22px;
    background-position: -10px -10px;
}

.blocks article:nth-child(6) h5::before {
    width: 24px;
    height: 24px;
    background-position: -10px -94px;
}

.blocks article:nth-child(7) h5::before {
    width: 20px;
    height: 35px;
    background-position: -10px -381px;
}

.blocks article:nth-child(8) h5::before {
    width: 26px;
    height: 24px;
    background-position: -10px -138px;
}

.blocks article:nth-child(9) h5::before {
    width: 27px;
    height: 22px;
    background-position: -10px -52px;
}