.options{
    display: flex;

}
.options a{
    flex-grow: 1;
    background-color: var(--main-color);
    color: var(--light-color);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-transform: uppercase;
    font-family: var(--font-bold);
    font-size: 20px;
    gap: 45px;
    padding-top: 87px;
    padding-bottom: 118px;
    border-top: 9px solid var(--main-color);
}
.options a:nth-child(odd)
{
    background-color: var(--dark-color);
    color: var(--main-color);
}