:root{
    --main-color:#18cfab;
    --font-light:"Montserrat-Light";
    --font-regular:"Montserrat-Regular";
    --font-bold:"Montserrat-ExtraBold";
    --dark-color:#1c2a33;
    --light-color:#fff;
}