.container {
    width: 800px;
    margin: 0 auto;
    border: solid 1px purple;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 500px minmax(50px, auto); */
    grid-auto-rows: minmax(200px, auto);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    grid-gap: 20px;
}

.dark {
    background-color: rgb(97, 30, 14);
    color: #fff;
    padding: 10px;
    /* justify-self: center;
    align-self: center; */
}

.light {
    background-color: lightsalmon;
    padding: 10px;
    /* width: 100px;
    justify-self: center;
    align-self: center; */

}

.item-1 {
    /* grid-column-start: 2;
    grid-column-end: 5; */
    /* grid-column: 2/5; */
    /* grid-column: 2/ span 3; */
    grid-column: span 2;
    /* grid-row-start: 2;
    grid-row-end: 5; */
    /* grid-row: 2/5; */
    /* grid-row: 2/ span 3; */
    grid-row: span 2;
}