.block{
    width: 700px;
    height: 500px;
    background-color: #faf9d4;
    margin: 0 auto;
    padding: 50px;
    position: relative;
    overflow: hidden;
}
p{
    text-align: center;
}
img{
    position: absolute;
    left: 0;
}
.img-calc,
.img-book,
.img-paper,
.img-pallete
{
    width: 200px;
}

.img-paper,
.img-pallete{
    display: none;
}
.img-calc{
    transform: rotate(-30deg);
    left: 50px;
    animation: calc 2s forwards;
    
}
.img-book{
    transform: rotate(-5deg);
    left: 255px;
    animation: book 2s 0.5s forwards;
    
}
.img-pencil{
    transform: rotate(90deg);
   
    left: 300px;
    animation: pencil 2s 2s forwards;
}

.img-book{
    top: 700px;
}
.img-calc{
    top: 700px;
}
.img-pencil{
    top: 700px;
}
@keyframes calc {
    from{
        top: 700px;
    }
    to{
        top: 200px;
    }
}
@keyframes book {
    from{
        top: 700px;
    }
    to{
        top: 129px;
    }
}
@keyframes pencil {
    from{
        top: 700px;
    }
    to{
        top: 450px;
    }
}