.block{
    width: 700px;
    height: 500px;
    background-color: #faf9d4;
    margin: 0 auto;
    padding: 50px;
    position: relative;
    overflow: hidden;
}
.wrapper{
    width: 500px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
p{
    text-align: center;
}

.img-calc,
.img-book,
.img-paper,
.img-pallete
{
    width: 200px;
    position: absolute;
    margin-top: 400px;
    animation: slide-up 2s forwards;  
}

.img-calc{
    width: 100px;
    transform: rotate(-30deg);
    left: 0;
    top: 200px; 
    
    
}
.img-book{
    transform: rotate(-5deg);
    left: 100px;
    width: 150px;
    top: 100px;
    animation-delay: 0.5s;
    
}


.img-pallete{
    transform: scaleX(-1) rotate(-30deg);
    width: 100px;
    right: 0;
    top: 200px;   
    animation-delay:1s;
}
.img-paper
{
    width: 150px;
    transform: rotate(5deg);
    right: 100px;
    top: 100px;
    animation-delay: 1.5s;
}

.img-pencil{
    transform: rotate(90deg);
    position: relative;
    top: 300px;
    margin-top: 400px;
    animation: slide-up 2s forwards;  
    animation-delay: 2s;
    
}

@keyframes slide-up {
    from{margin-top: 400px;}
    to{margin-top: 0px;}
}